@media (min-width: 1280px) {
html {
  font-family: "PT Sans";
}
*{ 
  box-sizing: border-box;
}
.header_nav {
  position: absolute;
  width: 100%;
  height: 90px;
  background-color: #000000;
  left: 0;
  right: 0;
  top: 0;
  display: grid;
  grid-template-columns: repeat(3, 370px);
  grid-gap: 30px;
  justify-content: center;
}
.header_nav-list {
  padding: 0px;
  display: flex;
  align-content: center;
  margin: 36px;
}
li {
  list-style-type: none;
  display: inline-block;
}
.car {
  display: flex;
  margin-left: 9px;
  font-family: "Lato";
  font-size: 14px;
  border: 4px solid #4A90E2;
  background: #4A90E2;
  border-radius: 3px;
  height: 25px;
}
.premium,
.home,
.recipes,
.article,
.contact,
.purchase {
  font-size: 14px;
  text-decoration: none;
  color: white;
  display: flex;
}
.recipes,
.article,
.contact,
.purchase {
  margin-left: 20px;
}
.purchase {
  margin-right: 375px;
}
.premium {
  font-family: "Lato";
  margin-left: -30px;
}
.home {
  margin-left: 702px;
}
.grid-item-one {
  background-image: url(../First-project/images-item/Bitmap-1.png);
  background-size: 373px 560px;
  background-repeat: no-repeat;
  border-radius: 5px;
}
.grid-item-two,
.grid-item-three,
.grid-item-four,
.grid-item-five {
  background-size: 397px 265px;
  background-repeat: no-repeat;
  border-radius: 5px;
}
.grid-item-two {
  background-image: url(../First-project/images-item/Bitmap-2.png);
}
.grid-item-three {
  background-image: url(../First-project/images-item/Bitmap-3.png);
}
.grid-item-four {
  background-image: url(../First-project/images-item/Bitmap-4.png);
}
.grid-item-five {
  background-image: url(../First-project/images-item/Bitmap-5.png);
}
.vehicle {
  display: flex;
  color: #FFFFFF;
  margin-left: 27px;
  margin-top: 30px;
  border: solid 1px #4A90E2;
  background-color: #4A90E2;
  border-radius: 3px;
  height: 22px;
  width: 62px;
  padding: 4px 12px 2px;
  font-size: 12px;
}
.human-and-date {
  display: flex;
  font-size: 14px;
  color: white;
  padding-left: 20px;
  padding-top: 108px;
}
.history {
  display: flex;
  white-space: pre-line;
  font-weight: bold;
  font-size: 20px;
  color: white;
  padding-top: 6px;
  padding-left: 20px;
}
.grid-item-one .history {
  display: flex;
  white-space: pre-line;
  font-size: 26px;
  padding-left: 21px;
}
.grid-item-one .human-and-date {
  padding-top: 391px;
  padding-left: 21px;
}
.grid-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 370px);
  grid-template-rows: repeat(2, 265px);
  grid-gap: 30px;
  padding-top: 120px;
  justify-content: center;
}
.grid-item-one {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
}
.grid-item-two {
  grid-row: 1;
  grid-column: 2;
}
.grid-item-three {
  grid-row: 1;
  grid-column: 3;
}
.grid-item-four {
  grid-row: 2;
  grid-column: 2;
}
.grid-item-five {
  grid-row: 2;
  grid-column: 3;
}
.grid-article-one,
.grid-article-two,
.grid-article-three,
.grid-article-four,
.grid-article-five {
  background-size: 775px 445px;
  background-repeat: no-repeat;
  border-radius: 5px;
  display: flex;
  margin-top: 75px;
  justify-content: center;
}
.grid-article-one {
  background-image: url(../First-project/images-article/Bitmap-1.png);
}
.grid-article-two {
  background-image: url(../First-project/images-article/Bitmap-2.png);
}
.grid-article-three {
  background-image: url(../First-project/images-article/Bitmap-3.png);
}
.grid-article-four {
  background-image: url(../First-project/images-article/Bitmap-4.png);
}
.grid-article-five {
  background-image: url(../First-project/images-article/Bitmap-5.png);
}
.grid-container-article {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 786px 395px;
  grid-template-rows: repeat(5, 560px);
  grid-row-gap: 94px;
  grid-column-gap: 20px;
  justify-content: center;
}
.grid-article-one {
  grid-column: 1;
  grid-row: 1;
}
.grid-article-two {
  grid-column: 1;
  grid-row: 2;
}
.grid-article-three {
  grid-column: 1;
  grid-row: 3;
}
.grid-article-four { 
  grid-column: 1;
  grid-row: 4;
}
.grid-article-five {
  grid-column: 1;
  grid-row: 5;
}
.border {
  position: absolute;
  display: flex;
  width: 726px;
  height: 249px;
  background: #FFFFFF;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 315px 0 0 0;
}
.grid-bold-text {
  position: absolute;
  height: 28px;
  display: flex;
  white-space: pre-line;
  font-weight: bold;
  font-size: 25px;
  margin: 72px 95px 149px 30px;
}
.grid-article-date {
  position: absolute;
  height: 18px;
  display: flex;
  font-style: italic;
  font-size: 14px;
  padding-top: 115px;
  padding-left: 29px;
  color: #666666;
}
.grid-description-text {
  line-height: 24px;
  font-size: 14px;
  color: #666666;
  padding: 147px 85px 30px 29px;
}
.article-vehicle {
  position: absolute;
  display: flex;
  color: #FFFFFF;
  margin-left: 29px;
  margin-top: 30px;
  border: solid 1px #4A90E2;
  background-color: #4A90E2;
  border-radius: 3px;
  height: 22px;
  width: 62px;
  padding: 4px 12px 2px;
  font-size: 12px;
}
.grid-aside-one,
.grid-aside-two,
.grid-aside-three,
.grid-aside-four {
  background-size: 292px 195px;
  background-repeat: no-repeat;
  border-radius: 5px;
  margin-left: 73px;
  margin-top: 125px;
}
.grid-aside-one {
  background-image: url(../First-project/images-aside/Bitmap-1.png);
}
.grid-aside-two {
  background-image: url(../First-project/images-aside/Bitmap-2.png);
}
.grid-aside-three {
  background-image: url(../First-project/images-aside/Bitmap-3.png);
}
.grid-aside-four {
  background-image: url(../First-project/images-aside/Bitmap-4.png);
}
.popular-post {
  position: absolute;
  width: 100px;
  font-weight: bold;
  font-size: 18px;
  top: 768px;
}
.aside-vehicle {
  position: absolute;
  display: flex;
  color: #FFFFFF;
  margin-left: 20px;
  margin-top: 20px;
  border: solid 1px #4A90E2;
  background-color: #4A90E2;
  border-radius: 3px;
  height: 22px;
  width: 62px;
  padding: 4px 12px 2px;
  font-size: 12px;
}
.aside-border {
  height: 56px;
  width: 270px;
  padding-top: 215px;
}
.aside-history {
  display: flex;
  font-weight: bold;
  font-size: 20px;
  color: black;
}
.aside-date {
  display: flex;
  font-size: 14px;
  font-style: italic;
  margin-top: 15px;
  color: #666666;
}
.instagram-one,
.instagram-two,
.instagram-three,
.instagram-four,
.instagram-five,
.instagram-six {
  background-size: 130px 130px;
  background-repeat: no-repeat;
}
.instagram-one {
  background-image: url(../First-project/images-instagram/Rectangle\ Copy\ 23.png);
}
.instagram-two {
  background-image: url(../First-project/images-instagram/Rectangle\ Copy\ 24.png);
}
.instagram-three {
  background-image: url(../First-project/images-instagram/Rectangle\ Copy\ 30.png);
}
.instagram-four {
  background-image: url(../First-project/images-instagram/Rectangle\ Copy\ 42.png);
}
.instagram-five {
  background-image: url(../First-project/images-instagram/Rectangle\ Copy\ 43.png);
}
.instagram-six {
  background-image: url(../First-project/images-instagram/Rectangle\ Copy\ 44.png);
}
.instagram-seven {
  background-image: url(../First-project/images-instagram/Rectangle\ Copy\ 9.png);
  background-size: 270px 50px;
}
.grid-container-instagram {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  grid-template-rows: 130px 130px 130px 50px;
  grid-gap: 10px;
  padding-left: 76px;
  margin-top: 900px;
}
.text-instagram {
  position: relative;
  bottom: 60px;
  font-weight: bold;
  font-size: 18px;
}
.instagram-one {
  grid-column: 1;
  grid-row: 1;
}
.instagram-two {
  grid-column: 2;
  grid-row: 1;
}
.instagram-three {
  grid-column: 1;
  grid-row: 2;
}
.instagram-four {
  grid-column: 2;
  grid-row: 2;
}
.instagram-five {
  grid-column: 1; 
  grid-row: 3;
}
.instagram-six {
  grid-column: 2;
  grid-row: 3;
}
.instagram-seven {
  grid-column: 1 / span 2;
  grid-row: 4;
}
.view-instagram {
  background-image: url(../First-project/images-instagram/Combined\ Shape\ \(1\).png);
  background-repeat: no-repeat;
  background-position-x: 74px;
  background-position-y: 17px;
  font-weight: bold;
  font-size: 14px;
  color: white;
  display: flex;
  padding-top: 17px;
  padding-left: 15px;
  justify-content: center;
}
.business, .freelance, .money,
.experience, .lifestyle, .seo,
.wordpress, .marketing, .ux,
.modern, .success, .nature,
.productivity, .sales-page,
.sell, .teamwork, .monetize {
  background: #EBEBEB;
  color: #171717;
  font-size: 14px;
  border-radius: 3px;
  padding-top: 7px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
  height: 30px;
  display: flex;
  margin-top: 850px;
}
.business {
  width: 84px;
  margin-left: 884px;
}
.money {
  width: 72px;
  margin-left: 875px;
}
.experience {
   width: 100px;
   margin-left: 884px;
}
.freelance { 
  width: 91px;
  margin-left: 876px;
}
.lifestyle {
  width: 82px;
  margin-left: 892px;
}
.seo {
  width: 58px;
  margin-left: 882px;
}
.wordpress {
  width: 98px;
  margin-left: 884px;
}
.marketing {
  width: 93px;
  margin-left: 890px;
}
.ux {
  width: 49px;
  margin-left: 892px;
}
.success {
  width: 79px;
  margin-left: 872px;
}
.nature {
  width: 72px;
  margin-left: 860px;
}
.modern {
  width: 79px;
  margin-left: 884px;
}
.productivity {
  width: 104px;
  margin-left: 884px;
}
.sales-page {
  width: 97px;
  margin-left: 898px;
}
.sell {
  width: 53px;
  margin-left: 884px;
}
.teamwork {
  width: 95px;
  margin-left: 846px;
}
.monetize {
  width: 88px;
  margin-left: 850px;
}
.grid-tags-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 91px);
  grid-template-rows: repeat(6, 30px);
  grid-gap: 10px;
  margin-left: -800px;
}
.business {
  grid-column: 1;
  grid-row: 1;
}
.freelance {
  grid-column: 2;
  grid-row: 1;
}
.money {
  grid-column: 3;
  grid-row: 1;
}
.experience {
  grid-column: 1;
  grid-row: 2;
}
.lifestyle {
  grid-column: 2;
  grid-row: 2;
}
.seo {
  grid-column: 3;
  grid-row: 2;
}
.wordpress {
  grid-column: 1;
  grid-row: 3;
}
.marketing {
  grid-column: 2;
  grid-row: 3;
}
.ux {
  grid-column: 3;
  grid-row: 3;
}
.modern {
  grid-column: 1;
  grid-row: 4;
}
.success {
  grid-column: 2;
  grid-row: 4;
}
.nature {
  grid-column: 3;
  grid-row: 4;
}
.productivity {
  grid-column: 1;
  grid-row: 5;
}
.sales-page {
  grid-column: 2;
  grid-row: 5;
}
.sell {
  grid-column: 1;
  grid-row: 6;
}
.teamwork {
  grid-column: 2;
  grid-row: 6;
}
.monetize {
  grid-column: 3;
  grid-row: 6;
}
.tags {
  position: relative;
  display: flex;
  bottom: 54px;
  font-weight: bold;
  font-size: 18px;
  left: -68px;
}
.email-news {
  display: flex;
  position: relative;
  font-weight: bold;
  font-size: 18px;
  width: 130px;
  top: 970px;
  right: -684px; 
}
.email-sign-up-text {
  display: flex;
  position: relative;
  font-size: 14px;
  color: #666666;
  width: 252px;
  top: 930px;
  right: -884px; 
}
.your-name,
.your-email {
  display: flex;
  position: relative;
  width: 270px;
  height: 50px;
  padding-left: 15px;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  border-radius: 3px;
  top: 993px;
  right: -784px;
}
.your-email {
  top: 1050px;
  right: -684px;
}
.subscribe,
.subscribe-footer {
  background-image: url(../First-project/images-instagram/Rectangle\ Copy-background-subscribe.png);
  background-size: 270px 50px;
  display: flex;
  position: relative;
  width: 270px;
  height: 50px;
  font-weight: bold;
  font-size: 14px;
  color: #FFFFFF;
  padding-top: 17px;
  justify-content: center;
  top: -884px;
  right: -886px;
}
.subscribe {
  top: 940px;
}
.grid-transition-between-pages {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(7, 40px);
  grid-template-rows: 40px;
  grid-gap: 10px;
  margin-top: 1300px;
}
.back,
.first,
.second,
.third,
.three-dot,
.eighth,
.further {
  font-size: 16px;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 3px;
  display: flex;
  position: relative;
  padding-top: 10px;
  justify-content: center;
  top: 50px;
  right: 600px;
  text-decoration: none;
}
.first {
  background-color: #000000;
  color: white;
}
.grid-first-footer {
  width: 100%;
  height: 500px;
  position: absolute;
  background: #171717;
  left: 0;
  right: 0;
  margin-top: 230px;
}
.first-image,
.two-image,
.three-image {
  background-size: 95px 95px;
  display: flex;
  position: absolute;
  margin-left: 385px;
  margin-top: 44px;
}
.first-image{
  margin-left: 510px;
}
.text-first-image,
.text-two-image,
.text-three-image {
  display: flex;
  font-weight: bold;
  font-size: 15px;
  color: #FFFFFF;
  line-height: 26px;
  width: 178px;
  position: absolute;
  margin-left: 627px;
  margin-top: 45px;
}
.date-first-image,
.date-two-image,
.date-three-image {
  display: flex;
  position: absolute;
  width: 159px;
  color: #CECECE;
  font-style: italic;
  font-size: 12px;
  margin-left: 627px;
  margin-top: 110px;
}
.text-two-image {
  margin-top: 165px;
}
.date-two-image {
  margin-top: 230px;
}
.two-image {
  margin-left: 509px;
  margin-top: 160px;
}
.text-three-image {
  margin-top: 285px;
}
.date-three-image {
  margin-top: 350px;
}
.three-image {
  margin-left: 509px;
  margin-top: 280px;
}
.recent-posts {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  margin-left: 515px;
  margin-top: 64px;
}
.short-description,
.description,
.keep-in-touch {
  display: flex;
  position: absolute;
  font-size: 14px;
  color: #CECECE;
}
.short-description {
  margin-left: 100px;
  color: #FFFFFF;
  margin-top: 5px;
}
.keep-in-touch {
  font-weight: bold;
  font-size: 20px;
  color: #FFFFFF;
  width: 120px;
  margin-top: 160px;
}
.description {
  margin-top: 50px;
  width: 270px;
}
.icon-first,
.icon-two,
.icon-three,
.icon-four,
.icon-five {
  background-image: url(../First-project/images-footer-icon/Rectangle.png);
  background-size: 34px 34px;
  border-radius: 3px;
  display: flex;
  position: absolute;
  margin-top: 210px;
}
.icon-first {
  margin-left: -100px;
  padding: 10px 7px;
}
.icon-two {
  margin-left: -50px;
  padding: 8px;
}
.icon-three {
  padding: 10px 9px;
}
.icon-four {
  margin-left: 50px;
  padding: 8px 11px 10px 11px;
}
.icon-five {
  margin-left: 100px;
  padding: 8px 10px 10px 10px;
}
.newsletter {
  font-weight: bold;
  font-size: 20px;
  color: #FFFFFF;
  display: flex;
  margin-left: 875px;
  margin-top: -50px;
  padding-top: 24px;
}
.your-name-footer,
.your-email-footer {
  padding-left: 15px;
  display: flex;
  position: absolute;
  width: 270px;
  height: 50px;
  background: #373737;
  border: 1px solid #373737;
  border-radius: 3px;
}
.your-name-footer {
  margin-top: 66px;
}
.your-email-footer {
  margin-top: 126px;
}
.subscribe-footer {
  display: flex;
  position: absolute;
  margin-top: 1135px;
  left: 875px;
  right: 0;
  justify-content: center;
}
.grid-footer-two {
  position: absolute;
  background: #000000;
  margin-top: 499px;
  width: 100%;
  height: 94px;
  left: 0;
}
.grid-footer-two {
  display: grid;
  width: 100%;
  height: 94px;
  grid-template-columns: repeat(6, 50px);
  grid-template-rows: 50px;
  grid-gap: 20px;
  justify-content: center;
  margin-top: 729px;
}
.all-right-reserved {
  display: flex;
  position: absolute;
  padding-top: 39px;
  padding-left: 100px;
  font-weight: normal;
  font-size: 14px;  
  color: #FFFFFF;
  text-decoration: none;
}
.home-footer,
.recipes-footer,
.article-footer,
.contact-footer,
.purchase-footer {
  font-weight: normal;
  font-size: 14px;  
  color: #FFFFFF;
  text-decoration: none;
  margin-top: 39px;
  margin-left: 320px;
}
.home-footer {
 grid-row: 1;
 grid-column: 1;
}
.recipes-footer {
  grid-row: 1;
  grid-column: 2;
}
.article-footer {
  grid-row: 1;
  grid-column: 3;
}
.contact-footer {
  grid-row: 1;
  grid-column: 4;
}
.purchase-footer {
  grid-row: 1;
  grid-column: 5;
}
.grid-item-one:hover .history {
    text-decoration: underline;
}
.grid-item-two:hover .history {
  text-decoration: underline;
}
.grid-item-three:hover .history {
  text-decoration: underline;
}
.grid-item-four:hover .history {
  text-decoration: underline;
}
.grid-item-five:hover .history {
  text-decoration: underline;
}
.business:hover .tags{
  text-decoration: none;
}
.business:hover,
.freelance:hover,
.money:hover,
.experience:hover,
.lifestyle:hover,
.seo:hover,
.wordpress:hover,
.marketing:hover,
.ux:hover,
.modern:hover,
.success:hover,
.nature:hover,
.productivity:hover,
.sales-page:hover,
.sell:hover,
.teamwork:hover,
.monetize:hover {
  text-decoration: underline;
}
a:hover {
  text-decoration: underline;
}
a:focus {
  background: rgba(255, 255, 255, 0.8);
}
.home-footer:focus {
  background: rgba(255, 255, 255, 0.8);
}
a:active {
  font-weight: bold;
  font-size: 14px;
  color: #FFFFFF;
  text-decoration: underline;
  background: none;
}
.grid-article-one:hover .grid-bold-text {
  text-decoration: underline;
}
.grid-article-two:hover .grid-bold-text {
  text-decoration: underline;
}
.grid-article-three:hover .grid-bold-text {
  text-decoration: underline;
}
.grid-article-four:hover .grid-bold-text {
  text-decoration: underline;
}
.grid-article-five:hover .grid-bold-text {
  text-decoration: underline;
}
.grid-aside-one:hover .aside-history {
  text-decoration: underline;
}
.grid-aside-two:hover .aside-history {
  text-decoration: underline;
}
.grid-aside-three:hover .aside-history {
  text-decoration: underline;
}
.grid-aside-four:hover .aside-history {
  text-decoration: underline;
}
.instagram-seven:hover {
  background: #5C5C5C;
  border-radius: 3px;
}
.instagram-seven:focus {
  background: #232323;
  border: 2px dashed rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  border-radius: 3px;
}
.text-first-image:hover {
  text-decoration-line: underline;
  color: #FFFFFF;
}
.first-image:hover .text-first-image {
  text-decoration-line: underline;
  color: #FFFFFF;
}
.text-two-image:hover {
  text-decoration-line: underline;
  color: #FFFFFF;
}
.text-three-image:hover {
  text-decoration-line: underline;
  color: #FFFFFF;
}
.your-email:hover {
  background: #F4F6FA;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 3px;
}
.your-name:hover {
  background: #F4F6FA;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 3px;
}
.your-name:focus {
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.your-email:focus {
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.your-email-footer:hover {
  background: #6C6C6C;
  border-radius: 3px;
}
.your-name-footer:hover {
  background: #6C6C6C;
  border-radius: 3px;
}
.your-email-footer:focus {
  background: #5A5A5A;
  border-radius: 3px;
}
.your-name-footer:focus {
  background: #5A5A5A;
  border-radius: 3px;
}
.back:hover,
.first:hover,
.second:hover,
.third:hover,
.three-dot:hover,
.eighth:hover,
.further:hover {
  background: #EFEFEF;
  text-decoration: none;
  color: #171717;
}
.back:active,
.first:active,
.second:active,
.third:active,
.three-dot:active,
.eighth:active,
.further:active {
  background: #000000;
  color: #FFFFFF;
}
.icon-first:hover,
.icon-two:hover,
.icon-three:hover,
.icon-four:hover,
.icon-five:hover {
  background: #777777;
}
.icon-first:active,
.icon-two:active,
.icon-three:active,
.icon-four:active,
.icon-five:active {
  background: #FFFFFF;
  background-color: #000000;
} 
.three-image:hover .text-three-image {
  text-decoration-line: underline;
  color: #FFFFFF;
}
/* .background-hover{ 
  position: relative;
  display: flex;
  opacity: 0;
  width: 373px;
  height: 0;
}
.background-hover:hover { 
  background-size: 373px 560px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  opacity: 1;
  width: 373px;
  height: 560px;
} */
}
@media (min-width: 768px) and (max-width: 1280px) {
  html {
    font-family: "PT Sans";
  }
  *{ 
    box-sizing: border-box;
  }
  .header_nav {
    position: absolute;
    width: 100%;
    height: 90px;
    background-color: #000000;
    left: 0;
    right: 0;
    top: 0;
    display: grid;
    grid-template-columns: repeat(3, 370px);
    grid-gap: 30px;
    justify-content: center;
  }
  .header_nav-list {
    padding: 0px;
    display: flex;
    align-content: center;
    margin: 36px;
  }
  li {
    list-style-type: none;
    display: inline-block;
  }
  .car {
    display: flex;
    margin-left: 9px;
    font-family: "Lato";
    font-size: 14px;
    border: 4px solid #4A90E2;
    background: #4A90E2;
    border-radius: 3px;
    height: 25px;
  }
  .premium,
  .home,
  .recipes,
  .article,
  .contact,
  .purchase {
    font-size: 14px;
    text-decoration: none;
    color: white;
    display: flex;
  }
  .recipes,
  .article,
  .contact,
  .purchase {
    margin-left: 20px;
  }
  .premium {
    font-family: "Lato";
    margin-left: 170px;
  }
  .home {
    margin-left: 290px;
  }
  .grid-item-one {
    background-image: url(../First-project/images-item/Bitmap-1.png);
    background-size: 373px 560px;
    background-repeat: no-repeat;
    border-radius: 5px;
  }
  .grid-item-two,
  .grid-item-three,
  .grid-item-four,
  .grid-item-five {
    background-size: 397px 265px;
    background-repeat: no-repeat;
    border-radius: 5px;
  }
  .grid-item-two {
    background-image: url(../First-project/images-item/Bitmap-2.png);
  }
  .grid-item-three {
    background-image: url(../First-project/images-item/Bitmap-3.png);
  }
  .grid-item-four {
    background-image: url(../First-project/images-item/Bitmap-4.png);
  }
  .grid-item-five {
    background-image: url(../First-project/images-item/Bitmap-5.png);
  }
  .vehicle {
    display: flex;
    color: #FFFFFF;
    margin-left: 27px;
    margin-top: 30px;
    border: solid 1px #4A90E2;
    background-color: #4A90E2;
    border-radius: 3px;
    height: 22px;
    width: 62px;
    padding: 4px 12px 2px;
    font-size: 12px;
  }
  .human-and-date {
    display: flex;
    font-size: 14px;
    color: white;
    padding-left: 20px;
    padding-top: 108px;
  }
  .history {
    display: flex;
    white-space: pre-line;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding-top: 6px;
    padding-left: 20px;
  }
  .grid-item-one .history {
    display: flex;
    white-space: pre-line;
    font-size: 26px;
    padding-left: 21px;
  }
  .grid-item-one .human-and-date {
    padding-top: 391px;
    padding-left: 21px;
  }
  .grid-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 370px);
    grid-template-rows: repeat(3, 265px);
    grid-gap: 30px;
    padding-left: 0px;
    padding-top: 120px;
    justify-content: center;
  }
  .grid-item-one {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
  }
  .grid-item-two {
    grid-row: 1;
    grid-column: 2;
  }
  .grid-item-three {
    grid-row: 2;
    grid-column: 2;
  }
  .grid-item-four {
    grid-row: 3;
    grid-column: 1;
  }
  .grid-item-five {
    grid-row: 3;
    grid-column: 2;
  }
  .border {
    position: absolute;
    display: flex;
    width: 726px;
    height: 249px;
    background: #FFFFFF;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 315px 25px 0 25px;
  }
  .grid-bold-text {
    position: absolute;
    height: 28px;
    display: flex;
    white-space: pre-line;
    font-weight: bold;
    font-size: 25px;
    margin: 72px 95px 149px 30px;
  }
  .grid-article-date {
    position: absolute;
    height: 18px;
    display: flex;
    font-style: italic;
    font-size: 14px;
    padding-top: 115px;
    padding-left: 29px;
    color: #666666;
  }
  .grid-description-text {
    line-height: 24px;
    font-size: 14px;
    color: #666666;
    padding: 147px 85px 30px 29px;
  }
  .article-vehicle {
    position: absolute;
    display: flex;
    color: #FFFFFF;
    margin-left: 29px;
    margin-top: 30px;
    border: solid 1px #4A90E2;
    background-color: #4A90E2;
    border-radius: 3px;
    height: 22px;
    width: 62px;
    padding: 4px 12px 2px;
    font-size: 12px;
  }
  .grid-article-one,
  .grid-article-two,
  .grid-article-three,
  .grid-article-four,
  .grid-article-five {
    background-repeat: no-repeat;
    margin-top: 75px;
  }
  .grid-article-one {
    background-image: url(../First-project/images-article/Bitmap-1.png);
  }
  .grid-article-two {
    background-image: url(../First-project/images-article/Bitmap-2.png);
  }
  .grid-article-three {
    background-image: url(../First-project/images-article/Bitmap-3.png);
  }
  .grid-article-four {
    background-image: url(../First-project/images-article/Bitmap-4.png);
  }
  .grid-article-five {
    background-image: url(../First-project/images-article/Bitmap-5.png);
  }
  .grid-container-article {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 786px;
    grid-template-rows: repeat(5, 560px);
    grid-row-gap: 94px;
    justify-content: center;
  }
  .border {
    position: absolute;
    display: flex;
    width: 726px;
    height: 249px;
    background: #FFFFFF;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 315px 25px 0 25px;
  }
  .grid-bold-text {
    position: absolute;
    height: 28px;
    display: flex;
    white-space: pre-line;
    font-weight: bold;
    font-size: 25px;
    margin: 72px 95px 149px 30px;
  }
  .grid-article-date {
    position: absolute;
    height: 18px;
    display: flex;
    font-style: italic;
    font-size: 14px;
    padding-top: 115px;
    padding-left: 29px;
    color: #666666;
  }
  .grid-description-text {
    line-height: 24px;
    font-size: 14px;
    color: #666666;
    padding: 147px 85px 30px 29px;
  }
  .article-vehicle {
    position: absolute;
    display: flex;
    color: #FFFFFF;
    margin-left: 29px;
    margin-top: 30px;
    border: solid 1px #4A90E2;
    background-color: #4A90E2;
    border-radius: 3px;
    height: 22px;
    width: 62px;
    padding: 4px 12px 2px;
    font-size: 12px;
  }
  .grid-article-one {
    grid-column: 1;
    grid-row: 1;
  }
  .grid-article-two {
    grid-column: 1;
    grid-row: 2;
  }
  .grid-article-three {
    grid-column: 1;
    grid-row: 3;
  }
  .grid-article-four { 
    grid-column: 1;
    grid-row: 4;
  }
  .grid-article-five {
    grid-column: 1;
    grid-row: 5;
  }
  .grid-transition-between-pages {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(7, 40px);
    grid-template-rows: 40px;
    grid-gap: 10px;
    justify-content: center;
    margin-top: -1900px;
  }
  .grid-aside {
    display: grid;
    grid-template-columns: repeat(2, 350px);
    grid-template-rows: repeat(2, 450px);
    height: 100%;
    width: 100%;
    justify-content: center;
  }
  .grid-aside-one,
  .grid-aside-two,
  .grid-aside-three,
  .grid-aside-four {
    background-size: 292px 195px;
    background-repeat: no-repeat;
    border-radius: 5px;
    margin-top: 164px;
  }
  .grid-aside-one {
    background-image: url(../First-project/images-aside/Bitmap-1.png);
  }
  .grid-aside-two {
    background-image: url(../First-project/images-aside/Bitmap-2.png);
    margin-left: 25px;
  }
  .grid-aside-three {
    background-image: url(../First-project/images-aside/Bitmap-3.png);
    margin-top: 64px;
  }
  .grid-aside-four {
    background-image: url(../First-project/images-aside/Bitmap-4.png);
    margin-left: 25px;
    margin-top: 64px;
  }
  .popular-post {
    position: absolute;
    width: 100px;
    font-weight: bold;
    font-size: 18px;
    top: 4360px;
  }
  .aside-vehicle {
    position: absolute;
    display: flex;
    color: #FFFFFF;
    margin-left: 20px;
    margin-top: 20px;
    border: solid 1px #4A90E2;
    background-color: #4A90E2;
    border-radius: 3px;
    height: 22px;
    width: 62px;
    padding: 4px 12px 2px;
    font-size: 12px;
  }
  .aside-border {
    height: 56px;
    width: 270px;
    padding-top: 215px;
  }
  .aside-history {
    display: flex;
    font-weight: bold;
    font-size: 20px;
    color: black;
  }
  .aside-date {
    display: flex;
    font-size: 14px;
    font-style: italic;
    margin-top: 15px;
    color: #666666;
  }
  .instagram-one,
  .instagram-two,
  .instagram-three,
  .instagram-four,
  .instagram-five,
  .instagram-six {
    background-size: 130px 130px;
    background-repeat: no-repeat;
  }
  .instagram-one {
    background-image: url(../First-project/images-instagram/Rectangle\ Copy\ 23.png);
  }
  .instagram-two {
    background-image: url(../First-project/images-instagram/Rectangle\ Copy\ 24.png);
  }
  .instagram-three {
    background-image: url(../First-project/images-instagram/Rectangle\ Copy\ 30.png);
  }
  .instagram-four {
    background-image: url(../First-project/images-instagram/Rectangle\ Copy\ 42.png);
  }
  .instagram-five {
    background-image: url(../First-project/images-instagram/Rectangle\ Copy\ 43.png);
  }
  .instagram-six {
    background-image: url(../First-project/images-instagram/Rectangle\ Copy\ 44.png);
  }
  .instagram-seven {
    background-image: url(../First-project/images-instagram/Rectangle\ Copy\ 9.png);
    background-size: 270px 50px;
  }
  .grid-container-instagram {
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 130px 130px 130px 50px;
    grid-gap: 10px;
    margin-left: 40px;
    margin-top: -50px;
  }
  .text-instagram {
    position: relative;
    bottom: 60px;
    font-weight: bold;
    font-size: 18px;
  }
  .instagram-one {
    grid-column: 1;
    grid-row: 1;
  }
  .instagram-two {
    grid-column: 2;
    grid-row: 1;
  }
  .instagram-three {
    grid-column: 1;
    grid-row: 2;
  }
  .instagram-four {
    grid-column: 2;
    grid-row: 2;
  }
  .instagram-five {
    grid-column: 1; 
    grid-row: 3;
  }
  .instagram-six {
    grid-column: 2;
    grid-row: 3;
  }
  .instagram-seven {
    grid-column: 1 / span 2;
    grid-row: 4;
  }
  .view-instagram {
    background-image: url(../First-project/images-instagram/Combined\ Shape\ \(1\).png);
    background-repeat: no-repeat;
    background-position-x: 74px;
    background-position-y: 17px;
    font-weight: bold;
    font-size: 14px;
    color: white;
    display: flex;
    padding-top: 17px;
    padding-left: 15px;
    justify-content: center;
  }
  .business, .freelance, .money,
.experience, .lifestyle, .seo,
.wordpress, .marketing, .ux,
.modern, .success, .nature,
.productivity, .sales-page,
.sell, .teamwork, .monetize {
  background: #EBEBEB;
  color: #171717;
  font-size: 14px;
  border-radius: 3px;
  padding-top: 7px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
  height: 30px;
  display: flex;
  margin-top: -575px;
}
.business {
  width: 84px;
  margin-left: 884px;
}
.money {
  width: 72px;
  margin-left: 875px;
}
.experience {
   width: 100px;
   margin-left: 884px;
}
.freelance { 
  width: 91px;
  margin-left: 876px;
}
.lifestyle {
  width: 82px;
  margin-left: 892px;
}
.seo {
  width: 58px;
  margin-left: 882px;
}
.wordpress {
  width: 98px;
  margin-left: 884px;
}
.marketing {
  width: 93px;
  margin-left: 890px;
}
.ux {
  width: 49px;
  margin-left: 892px;
}
.success {
  width: 79px;
  margin-left: 872px;
}
.nature {
  width: 72px;
  margin-left: 860px;
}
.modern {
  width: 79px;
  margin-left: 884px;
}
.productivity {
  width: 104px;
  margin-left: 884px;
}
.sales-page {
  width: 97px;
  margin-left: 898px;
}
.sell {
  margin-top: -535px;
  width: 53px;
  margin-left: 684px;
}
.teamwork {
  width: 95px;
  margin-left: 1050px;
}
.monetize {
  width: 88px;
  margin-left: 850px;
}
.grid-tags-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 91px);
  grid-template-rows: repeat(6, 30px);
  grid-gap: 10px;
  margin-left: -460px;
}
.tags {
  position: relative;
  display: flex;
  bottom: 54px;
  font-weight: bold;
  font-size: 18px;
  left: -68px;
}
.email-news {
  display: flex;
  position: relative;
  font-weight: bold;
  font-size: 18px;
  width: 130px;
  top: -250px;
  right: -300px; 
}
.email-sign-up-text {
  display: flex;
  position: relative;
  font-size: 14px;
  color: #666666;
  width: 376px;
  top: -260px;
  right: -500px; 
}
.your-name,
.your-email {
  display: flex;
  position: relative;
  width: 270px;
  height: 50px;
  padding-left: 15px;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  border-radius: 3px;
  top: -220px;
  right: -400px;
}
.your-email {
  top: -160px;
  right: -300px;
}
.subscribe,
.subscribe-footer {
  background-image: url(../First-project/images-instagram/Rectangle\ Copy-background-subscribe.png);
  background-size: 270px 50px;
  display: flex;
  position: relative;
  width: 270px;
  height: 50px;
  font-weight: bold;
  font-size: 14px;
  color: #FFFFFF;
  padding-top: 17px;
  justify-content: center;
  top: -700px;
  right: -165px;
}
.subscribe {
  top: -160px;
  right: -504px;
}
.back,
.first,
.second,
.third,
.three-dot,
.eighth,
.further {
  font-size: 16px;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 3px;
  display: flex;
  position: relative;
  padding-top: 10px;
  justify-content: center;
  text-decoration: none;
}
.first {
  background-color: #000000;
  color: white;
}
.grid-first-footer {
  width: 100%;
  height: 795px;
  position: absolute;
  background: #171717;
  left: 0;
  right: 0;
  margin-top: -172px;
}
.first-image,
.two-image,
.three-image {
  background-size: 95px 95px;
  display: flex;
  position: absolute;
  margin-left: 385px;
  margin-top: 44px;
}
.first-image{
  margin-left: 510px;
}
.text-first-image,
.text-two-image,
.text-three-image {
  display: flex;
  font-weight: bold;
  font-size: 15px;
  color: #FFFFFF;
  line-height: 26px;
  width: 178px;
  position: absolute;
  margin-left: 627px;
  margin-top: 45px;
}
.date-first-image,
.date-two-image,
.date-three-image {
  display: flex;
  position: absolute;
  width: 159px;
  color: #CECECE;
  font-style: italic;
  font-size: 12px;
  margin-left: 627px;
  margin-top: 110px;
}
.text-two-image {
  margin-top: 165px;
}
.date-two-image {
  margin-top: 230px;
}
.two-image {
  margin-left: 509px;
  margin-top: 160px;
}
.text-three-image {
  margin-top: 285px;
}
.date-three-image {
  margin-top: 350px;
}
.three-image {
  margin-left: 509px;
  margin-top: 280px;
}
.recent-posts {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  margin-left: 515px;
  margin-top: 62px;
}
.short-description,
.description,
.keep-in-touch {
  display: flex;
  position: absolute;
  font-size: 14px;
  color: #CECECE;
}
.short-description {
  margin-left: 150px;
  color: #FFFFFF;
  margin-top: 5px;
}
.keep-in-touch {
  font-weight: bold;
  font-size: 20px;
  color: #FFFFFF;
  width: 120px;
  margin-top: 160px;
}
.description {
  margin-top: 50px;
  width: 270px;
}
.icon-first,
.icon-two,
.icon-three,
.icon-four,
.icon-five {
  background-image: url(../First-project/images-footer-icon/Rectangle.png);
  background-size: 34px 34px;
  border-radius: 3px;
  display: flex;
  position: absolute;
  margin-top: 210px;
}
.icon-first {
  margin-left: -100px;
  padding: 10px 7px;
}
.icon-two {
  margin-left: -50px;
  padding: 8px;
}
.icon-three {
  padding: 10px 9px;
}
.icon-four {
  margin-left: 50px;
  padding: 8px 11px 10px 11px;
}
.icon-five {
  margin-left: 100px;
  padding: 8px 10px 10px 10px;
}
.newsletter {
  font-weight: bold;
  font-size: 20px;
  color: #FFFFFF;
  display: flex;
  margin-left: 150px;
  margin-top: 416px;
  padding-top: 24px;
}
.your-name-footer,
.your-email-footer {
  padding-left: 15px;
  display: flex;
  position: absolute;
  width: 585px;
  height: 50px;
  background: #373737;
  border: 1px solid #373737;
  border-radius: 3px;
}
.your-name-footer {
  margin-top: 66px;
}
.your-email-footer {
  margin-top: 126px;
}
.subscribe-footer {
  display: flex;
  position: absolute;
  margin-top: 1415px;
  left: 875px;
  margin-left: -725px;
  right: 0;
  justify-content: center;
  width: 585px;
}
.grid-footer-two {
  position: absolute;
  background: #000000;
  margin-top: 622px;
  width: 100%;
  height: 94px;
  left: 0;
  display: grid;
  grid-template-columns: repeat(6, 50px);
  grid-template-rows: 50px;
  grid-gap: 20px;
  justify-content: center;
}
.all-right-reserved {
  display: flex;
  position: absolute;
  padding-top: 39px;
  margin-left: 150px;
  font-weight: normal;
  font-size: 14px;  
  color: #FFFFFF;
  text-decoration: none;
}
.home-footer,
.recipes-footer,
.article-footer,
.contact-footer,
.purchase-footer {
  font-weight: normal;
  font-size: 14px;  
  color: #FFFFFF;
  text-decoration: none;
  margin-top: 39px;
  margin-left: 150px;
}
.home-footer {
 grid-row: 1;
 grid-column: 1;
}
.recipes-footer {
  grid-row: 1;
  grid-column: 2;
}
.article-footer {
  grid-row: 1;
  grid-column: 3;
}
.contact-footer {
  grid-row: 1;
  grid-column: 4;
}
.purchase-footer {
  grid-row: 1;
  grid-column: 5;
}
.grid-item-one:hover .history {
    text-decoration: underline;
}
.grid-item-two:hover .history {
  text-decoration: underline;
}
.grid-item-three:hover .history {
  text-decoration: underline;
}
.grid-item-four:hover .history {
  text-decoration: underline;
}
.grid-item-five:hover .history {
  text-decoration: underline;
}
.business:hover .tags{
  text-decoration: none;
}
.business:hover,
.freelance:hover,
.money:hover,
.experience:hover,
.lifestyle:hover,
.seo:hover,
.wordpress:hover,
.marketing:hover,
.ux:hover,
.modern:hover,
.success:hover,
.nature:hover,
.productivity:hover,
.sales-page:hover,
.sell:hover,
.teamwork:hover,
.monetize:hover {
  text-decoration: underline;
}
a:hover {
  text-decoration: underline;
}
a:focus {
  background: rgba(255, 255, 255, 0.8);
}
.home-footer:focus {
  background: rgba(255, 255, 255, 0.8);
}
a:active {
  font-weight: bold;
  font-size: 14px;
  color: #FFFFFF;
  text-decoration: underline;
  background: none;
}
.grid-article-one:hover .grid-bold-text {
  text-decoration: underline;
}
.grid-article-two:hover .grid-bold-text {
  text-decoration: underline;
}
.grid-article-three:hover .grid-bold-text {
  text-decoration: underline;
}
.grid-article-four:hover .grid-bold-text {
  text-decoration: underline;
}
.grid-article-five:hover .grid-bold-text {
  text-decoration: underline;
}
.grid-aside-one:hover .aside-history {
  text-decoration: underline;
}
.grid-aside-two:hover .aside-history {
  text-decoration: underline;
}
.grid-aside-three:hover .aside-history {
  text-decoration: underline;
}
.grid-aside-four:hover .aside-history {
  text-decoration: underline;
}
.instagram-seven:hover {
  background: #5C5C5C;
  border-radius: 3px;
}
.instagram-seven:focus {
  background: #232323;
  border: 2px dashed rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  border-radius: 3px;
}
.text-first-image:hover {
  text-decoration-line: underline;
  color: #FFFFFF;
}
.first-image:hover .text-first-image {
  text-decoration-line: underline;
  color: #FFFFFF;
}
.text-two-image:hover {
  text-decoration-line: underline;
  color: #FFFFFF;
}
.text-three-image:hover {
  text-decoration-line: underline;
  color: #FFFFFF;
}
.your-email:hover {
  background: #F4F6FA;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 3px;
}
.your-name:hover {
  background: #F4F6FA;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 3px;
}
.your-name:focus {
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.your-email:focus {
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.your-email-footer:hover {
  background: #6C6C6C;
  border-radius: 3px;
}
.your-name-footer:hover {
  background: #6C6C6C;
  border-radius: 3px;
}
.your-email-footer:focus {
  background: #5A5A5A;
  border-radius: 3px;
}
.your-name-footer:focus {
  background: #5A5A5A;
  border-radius: 3px;
}
.back:hover,
.first:hover,
.second:hover,
.third:hover,
.three-dot:hover,
.eighth:hover,
.further:hover {
  background: #EFEFEF;
  text-decoration: none;
  color: #171717;
}
.back:active,
.first:active,
.second:active,
.third:active,
.three-dot:active,
.eighth:active,
.further:active {
  background: #000000;
  color: #FFFFFF;
}
.icon-first:hover,
.icon-two:hover,
.icon-three:hover,
.icon-four:hover,
.icon-five:hover {
  background: #777777;
}
.icon-first:active,
.icon-two:active,
.icon-three:active,
.icon-four:active,
.icon-five:active {
  background: #FFFFFF;
  background-color: #000000;
} 
.three-image:hover .text-three-image {
  text-decoration-line: underline;
  color: #FFFFFF;
}
}









